<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>department_ID</key>
		<string>Faculty</string>
		<key>name</key>
		<string>Alhoori, Hamed</string>
		<key>position</key>
		<string>Assistant Professor</string>
		<key>degree</key>
		<string>Ph.D., Texas A&amp;M University</string>
		<key>email_address</key>
		<string>alhoori@niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string>PM 459</string>
		<key>office_hours</key>
		<string>Tuesday Thursday 12:30pm - 02:00pm</string>
		<key>office_room</key>
		<string>PM 203</string>
		<key>current_classes</key>
		<string>CSCI 340, CSCI 480/680</string>
		<key>research_interests</key>
		<string>Data Science, Big Data Analytics, Social Media Mining, Human Centered Computing</string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Faculty</string>
		<key>name</key>
		<string>Berezinski, John</string>
		<key>position</key>
		<string>Computer Science Systems Manager, Instructor</string>
		<key>degree</key>
		<string>M.S., Northern Illinois University</string>
		<key>email_address</key>
		<string>berezin@cs.niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Faculty</string>
		<key>name</key>
		<string>Brown, Georgie</string>
		<key>position</key>
		<string>Instructor</string>
		<key>degree</key>
		<string>M.S.,  Northern Illinois University</string>
		<key>email_address</key>
		<string>gbrown@niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Faculty</string>
		<key>name</key>
		<string>Byrnes, Amy</string>
		<key>position</key>
		<string>Instructor</string>
		<key>degree</key>
		<string>M.S., Northern Illinois University</string>
		<key>email_address</key>
		<string>abyrnes@niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Faculty</string>
		<key>name</key>
		<string>Decker, Geoffrey</string>
		<key>position</key>
		<string>Instructor</string>
		<key>degree</key>
		<string>M.S., Northern Illinois University</string>
		<key>email_address</key>
		<string>gdecker@niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Department Administration</string>
		<key>name</key>
		<string>Duffin, Kirk</string>
		<key>position</key>
		<string>Director of Graduate Studies and Graduate Advisor, Associate Professor</string>
		<key>degree</key>
		<string>Ph.D., Brigham Young University</string>
		<key>email_address</key>
		<string>duffin@cs.niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Faculty</string>
		<key>name</key>
		<string>Ege, Raimund K.</string>
		<key>position</key>
		<string>Associate Professor</string>
		<key>degree</key>
		<string>Ph.D., Oregon Graduate Institute for Science &amp; Technology</string>
		<key>email_address</key>
		<string>ege@niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Faculty</string>
		<key>name</key>
		<string>Freedman, Reva</string>
		<key>position</key>
		<string>Associate Professor</string>
		<key>degree</key>
		<string>Ph.D., Simon Fraser University</string>
		<key>email_address</key>
		<string>giabba@cs.niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Faculty</string>
		<key>name</key>
		<string>Giabbanelli, Philippe</string>
		<key>position</key>
		<string>Assistant Professor</string>
		<key>degree</key>
		<string>Ph.D., Simon Fraser University</string>
		<key>email_address</key>
		<string>giabba@cs.niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Faculty</string>
		<key>name</key>
		<string>Hegde, Shankar</string>
		<key>position</key>
		<string>Visiting Assistant Professor</string>
		<key>degree</key>
		<string>Ph.D., University of Saskatchewan</string>
		<key>email_address</key>
		<string>shegde@niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Faculty</string>
		<key>name</key>
		<string>Hou, Minmei</string>
		<key>position</key>
		<string>Associate Professor</string>
		<key>degree</key>
		<string>Ph.D., Pennsylvania State University</string>
		<key>email_address</key>
		<string>mhou@niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string></string>
		<key>name</key>
		<string>Hutchins, Harry</string>
		<key>position</key>
		<string>Instructor</string>
		<key>degree</key>
		<string>Ph.D., University of Chicago</string>
		<key>email_address</key>
		<string>t90hch1@cs.niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Department Administration</string>
		<key>name</key>
		<string>Karonis, Nicholas</string>
		<key>position</key>
		<string>Chair, Professor</string>
		<key>degree</key>
		<string>Ph.D., Syracuse University</string>
		<key>email_address</key>
		<string>karonis@niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Faculty</string>
		<key>name</key>
		<string>Lehuta, Jonathan</string>
		<key>position</key>
		<string>Instructor</string>
		<key>degree</key>
		<string>M.S., Northen Illinois University</string>
		<key>email_address</key>
		<string>lehuta@niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Faculty</string>
		<key>name</key>
		<string>Leon, James</string>
		<key>position</key>
		<string>Instructor</string>
		<key>degree</key>
		<string>Ed.D., Northern Illinois University</string>
		<key>email_address</key>
		<string>jimleon@cs.niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Faculty</string>
		<key>name</key>
		<string>McMahon, Kurt</string>
		<key>position</key>
		<string>Instructor</string>
		<key>degree</key>
		<string>M.S., Northern Illinois University</string>
		<key>email_address</key>
		<string>kmcmahon@niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Faculty</string>
		<key>name</key>
		<string>Musich, Margie Brooks</string>
		<key>position</key>
		<string>Instructor</string>
		<key>degree</key>
		<string>M.S., Northern Illinois University</string>
		<key>email_address</key>
		<string>mmusich@niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Department Administration</string>
		<key>name</key>
		<string>Onyuksel, Ibrahim</string>
		<key>position</key>
		<string>Assistant Chair, Professor</string>
		<key>degree</key>
		<string>Ph.D., University of Michigan</string>
		<key>email_address</key>
		<string>onyuksel@niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Faculty</string>
		<key>name</key>
		<string>Papka, Michael</string>
		<key>position</key>
		<string>Associate Professor</string>
		<key>degree</key>
		<string>Ph.D., University of Chicago</string>
		<key>email_address</key>
		<string>papka@niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Department Administration</string>
		<key>name</key>
		<string>Rogness, Daniel</string>
		<key>position</key>
		<string>Instructor</string>
		<key>degree</key>
		<string>M.S., Northern Illinois University</string>
		<key>email_address</key>
		<string>drogness1@niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Faculty</string>
		<key>name</key>
		<string>Rush, Kaisone</string>
		<key>position</key>
		<string>Instructor</string>
		<key>degree</key>
		<string>M.S., Northern Illinois University</string>
		<key>email_address</key>
		<string>krush@niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Faculty</string>
		<key>name</key>
		<string>Wang, Yih-Chen (Steve)</string>
		<key>position</key>
		<string>Visiting Assistant Professor</string>
		<key>degree</key>
		<string>Ph.D., Illinois Institute of Technology</string>
		<key>email_address</key>
		<string>swang@cs.niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Faculty</string>
		<key>name</key>
		<string>Winans, John</string>
		<key>position</key>
		<string>Instructor</string>
		<key>degree</key>
		<string>M.S., Northern Illinois University</string>
		<key>email_address</key>
		<string>jwinans@niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Faculty</string>
		<key>name</key>
		<string>Yassin, Hania</string>
		<key>position</key>
		<string>Instructor</string>
		<key>degree</key>
		<string>M.S., Northern Illinois University</string>
		<key>email_address</key>
		<string>yassin@cs.niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Faculty</string>
		<key>name</key>
		<string>Zhou. Jie</string>
		<key>position</key>
		<string>Associate Professor</string>
		<key>degree</key>
		<string>Ph.D., Concordia University, Canada</string>
		<key>email_address</key>
		<string>jzhou@niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Emeriti and Retired Faculty</string>
		<key>name</key>
		<string>Angotti, Rodney</string>
		<key>position</key>
		<string>Professor Emeritus</string>
		<key>degree</key>
		<string>Ph.D., University of Pittsburge</string>
		<key>email_address</key>
		<string></string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Emeriti and Retired Faculty</string>
		<key>name</key>
		<string>Chung, Sei-Jong</string>
		<key>position</key>
		<string>Associate Professor, retired</string>
		<key>degree</key>
		<string>Ph.D., University of Iowa</string>
		<key>email_address</key>
		<string>sjchung@cs.niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Emeriti and Retired Faculty</string>
		<key>name</key>
		<string>Glickfeld, Barnett</string>
		<key>position</key>
		<string>Associate Professor Emeritus</string>
		<key>degree</key>
		<string>Ph.D., Columbia University</string>
		<key>email_address</key>
		<string>bglickfeld@niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Emeriti and Retired Faculty</string>
		<key>name</key>
		<string>Davis, Kathi Hogshead</string>
		<key>position</key>
		<string>Associate Professor Emerita</string>
		<key>degree</key>
		<string>Ph.D., Illinois Institute of Technology</string>
		<key>email_address</key>
		<string>kdavis@cs.niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Emeriti and Retired Faculty</string>
		<key>name</key>
		<string>Henry, George &quot;Jim&quot;</string>
		<key>position</key>
		<string>Associate Professor Emeritus</string>
		<key>degree</key>
		<string>Ed.D., Northern Illinois University</string>
		<key>email_address</key>
		<string>henry@cs.niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Emeriti and Retired Faculty</string>
		<key>name</key>
		<string>Jeffrey, H. Joel</string>
		<key>position</key>
		<string>Professor Emeritus</string>
		<key>degree</key>
		<string>Ph.D., University of Colorado</string>
		<key>email_address</key>
		<string>jeffrey@cs.niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Emeriti and Retired Faculty</string>
		<key>name</key>
		<string>Rannie, Robert</string>
		<key>position</key>
		<string>Professor Emeritus</string>
		<key>degree</key>
		<string>Ph.D., Penn State University</string>
		<key>email_address</key>
		<string>rprannie@gmail.com</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Emeriti and Retired Faculty</string>
		<key>name</key>
		<string>Rickert, Neil</string>
		<key>position</key>
		<string>Professor Emeritus</string>
		<key>degree</key>
		<string>Ph.D., Yale University</string>
		<key>email_address</key>
		<string>rickert@cs.niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Emeriti and Retired Faculty</string>
		<key>name</key>
		<string>Stack, Michael</string>
		<key>position</key>
		<string>Instructor, retired</string>
		<key>degree</key>
		<string>M.S., Northern Illinois University</string>
		<key>email_address</key>
		<string>mstack@kcats.org</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string>Emeriti and Retired Faculty</string>
		<key>name</key>
		<string>Zerwekh, Robert</string>
		<key>position</key>
		<string>Associate Professor Emeritus</string>
		<key>degree</key>
		<string>Ph.D., University of Illinois</string>
		<key>email_address</key>
		<string>zerwekh@cs.niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
	<dict>
		<key>department_ID</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>position</key>
		<string></string>
		<key>degree</key>
		<string></string>
		<key>email_address</key>
		<string></string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string></string>
		<key>office_hours</key>
		<string></string>
		<key>office_room</key>
		<string></string>
		<key>current_classes</key>
		<string></string>
		<key>research_interests</key>
		<string></string>
	</dict>
</array>
</plist>
