<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>department_ID</key>
		<string>Faculty</string>
		<key>name</key>
		<string>Alhoori, Hamed</string>
		<key>position</key>
		<string>Assistant Professor</string>
		<key>degree</key>
		<string>Ph.D., Texas A&amp;M University</string>
		<key>email_address</key>
		<string>alhoori@niu.edu</string>
		<key>webpage_address</key>
		<string></string>
		<key>office_location</key>
		<string>PM 459</string>
		<key>office_days_array</key>
		<array>
			<string>Tuesday</string>
			<string>Thursday</string>
			<string>Tuesday</string>
			<string>Thursday</string>
		</array>
		<key>office_hours_array</key>
		<array>
			<string>12:30pm</string>
			<string>2:00pm</string>
			<string>3:15pm</string>
			<string>4:15pm</string>
			<string>3:30pm</string>
			<string>4:45pm</string>
		</array>
		<key>office_rooms_array</key>
		<array>
			<string>PM 203</string>
			<string>PM 203</string>
		</array>
		<key>current_classes_array</key>
		<array>
			<string>CSCI 340</string>
			<string>CSCI 480/680</string>
		</array>
		<key>research_interests</key>
		<string>Data Science, Big Data Analytics, Social Media Mining, Human Centered Computing</string>
	</dict>
</array>
</plist>
